*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: linear-gradient(90deg, #e71989 50%, #0b0b0b 50% );
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: #f4edaf;
    width:90%;
    height:90vh;
}
.navbar{
    margin: auto;
    width: 90%;
    height:15vh;
    
}
.navbar, .navlist{
    display: flex;
    justify-content: right;
    align-items: center;
}
.navlist li{
    padding:20px;
    list-style: none;
}
.navlist a{
    color:black;
    font-size:20px ;
    text-decoration: none;
    position: relative;
}
.navlist a::before{
    content:"";
    position:absolute;
    bottom:-10px;
    left:0;
    width:0;
    height:2px;
    background-color: black;
    transition: .3s ease-in-out;
}
.navlist a:hover::before{
    width:100%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.hero img{
    width:40vw;
}
.content{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    border-left: 5px solid black;
    padding: 20px 50px;
}
.content h3{
    color:rgb(73,73,73);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.content h1{
    color:#e71989;
    font-size: 50px;
}
.content p{
    color:black;
    font-size: 18px;
    line-height: 30px;
}
.content button{
    padding:15px 30px;
    font-size: 18px;
    color: black;
    border:none;
    background-color: rgb(233, 92, 160);
    border-color: brown;
    cursor:pointer;
}
.content button:hover{
    background-color: rgb(12, 12, 12);
    color: rgb(239, 244, 244);
}
